extends layout

block content

  h1 #{title}: #{book.name}

  if book_instances.length

    p #[strong Delete the following copies before attempting to delete this Book.]
    div(style='margin-left:20px;margin-top:20px')
      h4 Copies
      dl
        each bookinstance in book_instances
          dt
            a(href=bookinstance.book.url) #{bookinstance.book.title}
            p #[strong Imprint:] #{bookinstance.imprint}

            p #[strong Status: ]
                if bookinstance.status=='Available'
                    span.text-success #{bookinstance.status}
                else if bookinstance.status=='Maintenance'
                    span.text-danger #{bookinstance.status}
                else
                    span.text-warning #{bookinstance.status}
          dd #{book.summary}

  else
    p Do you really want to delete this Book?

    form(method='POST')
      div.form-group
        input#bookid.form-control(type='hidden', name='bookid', value=book._id )

      button.btn.btn-primary(type='submit') Delete
